button {
    border: none;
    font-family: $font-norm;
    padding: 13px 18px;
    color: white !important;
    &:hover {
        background-color: #f73c37;
    }
}

a[href] {
    font-family: $font-link;
}

.link {
    color: $color-link !important;
    font-family: 'arial';
    &:hover {
        color: #0890F2 !important;
        text-decoration: underline;
    }
}

.actionButton {
  border: 1px solid black;
  padding: 0.5em 1.4em;
  margin: 0 0.4em;
  font-family: "Oswald", sans-serif;
  &:hover {
      color: $color-spacered;
      border-color: $color-spacered;
  }
}

.modalSubmitBtn {
    input {
        padding: 11px 50px !important;
        color: #fff !important;
        background-color: #04b2ec;
        border: none;
        border-radius: 4px !important;
        font-size: 1.6em;
    }
    input:hover {
        background-color: green;
    }
}

.add {
    margin-left: 40%;
    background-color: $color-spacegreen;
    border-color: black;
    &:hover {
      background-color: green;
    }
}

.ph-button {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    transition: all 100ms ease-in-out 0s;
    white-space: nowrap;
    padding: 12px 17px 11px;
}

.modJoinFB-Btn {
    margin-top: 20px;
    background-color: #3A5795 !important;
    border-radius: 4px;
    color: white !important;
    b {
        font-weight: 400 !important;
        font-size: 1rem !important;
    }
    i {
        font-size: 1.4rem;
        color: white !important;
        vertical-align: middle !important;
        padding-right: 6px;
    }
}

.modMultiBtn {
    button {
        margin-top: 1em;
        outline: none;
        margin: 1em;
        float: right;
    }
}

.profileSettingsSubmit {
    float: right !important;
}

.defaultProfileButton {
    margin-top: 30px;
    list-style: none !important;
     a {
        padding: 12px 12px;
        font-size: 0.9rem;
        color: white;
        background-color: $color-spacered;
        border-bottom: 2px solid $color-spacered;
        border-radius: 4px;
    }
}
