button {
    border: none;
    font-family: $font-norm;
    padding: 13px 18px;
    color: white !important;
    &:hover {
        background-color: $color-spacered;
    }
}

a[href] {
    font-family: $font-link;
}

.link {
    color: $color-link !important;
    font-family: 'arial' !important;
    &:hover {
        color: #0890F2 !important;
        text-decoration: underline;
    }
}

.profile-link {
    color: $color-spacegrey !important;
    text-underline: underline;
    font-family: 'system-ui' !important;
    :hover {
        color: #0890F2 !important;
        text-decoration: underline;
    }
}

.headerAuth {
    font-size: 0.9em;
    padding-bottom: 0.5em;
    li a {
      color: white !important;
      border: 1px solid white !important;
      border-radius: 0.2em;
      padding: 5px 10px;
      margin: 0.5em;
      transition: 0.5s;
    }
    li a:hover {
      color: white;
      background: $color-spacegrey;
    }
}

.buttonas {
    li a {
      color: black !important;
      border: 1px solid black !important;
      border-radius: 0.2em;
      padding: 5px 15px;
      transition: 0.5s;
      margin-left: 1em;
    }
    li a:hover {
      color: white !important;
      border: 1px solid black !important;
      background: $color-spacegrey;
    }
}

.modalSubmitBtn {
    input {
        padding: 11px 50px !important;
        color: #fff !important;
        background-color: #04b2ec;
        border: none;
        border-radius: 4px !important;
        font-size: 1.6em;
    }
    input:hover {
        background-color: green;
    }
}

.add {
    background-color: #75D855;
    border-radius: 0.2em;
    &:hover {
      background-color: green;
    }
}

.listingItemShare {
    a {
      padding: 0.5em 0.1em;
    }
}

.join-button {
    cursor: pointer;
    margin-top: 20px;
    padding: 1em;
    width: 13em;
    background-color: #3A5795 !important;
    border-radius: 4px;
    color: white !important;
    b {
        font-weight: 400 !important;
        font-size: 1rem !important;
    }
    i {
        font-size: 1.4rem;
        color: white !important;
        vertical-align: middle !important;
        padding-right: 6px;
    }
}

.modMultiBtn {
    button {
        margin-top: 1em;
        outline: none;
        float: right;
        border-radius: 0.2em;
        padding: 5px 15px;
    }
}
