.users {
  flex: 0 0 23%;
  background: white;
  ul {
    margin: 0;
  }
  ul li {
    padding: 1.5em;
    border: 1px solid #e7e6e7;
    font-family: 'system-ui';
  }
}

.allMessages {
  display: flex;
}

.messageBox {
  display: flex;
  flex-direction: column;
  width: 65%;
  border: 1px solid #e7e6e7;
}

.messages {
  box-shadow: 0px 2px 5px rgba(27, 2, 35, 0.15);
  height: 32em;
  background: white;
  padding: 2em;
}

.sent {
  flex-direction: row-reverse;
}

.sentMessage {
  background-color: blue;
  color: white;
}

.receivedMessage {
  background-color: #F5F5F5;
  color: black;
}

.sentMessage, .receivedMessage {
  padding: 8px 12px;
  border-radius: 27px;
}

.bubble {
  display: flex;
  margin: 1em;
}

.chat {
  padding: 1em;
  background: white;
  border-top: 2px solid #e7e6e7;
}