.errordiv {
    margin-top: 50px !important;
    margin-left: 28% !important;
    font-weight: 400 !important;
    vertical-align: center;
}

.errorm {
    margin: 10px 0;
    width: 80%;
  //  font-family: 'Baskerville', arial;
  font-weight: 400 !important;
}

.errorBr {
    margin: 0 !important;
}

.errorSad {
    font-size: 5rem;
    font-weight: 400 !important;
}

.errorh {
    margin: 2rem 0 2rem 0;
    padding: 2rem;
    text-align: center;
}

.errorButton {
    margin-top: 20px;
    margin-left: 30% !important;
}