footer {
    text-align: center;
    color: #404040;
    width: 100%;
    position: inherit;
    bottom: 0px;
    margin-bottom: 0px;
    background-color: $color-spacered
}

.footerDivide {
    border-top: 1px solid $color-spacegrey;
    border-bottom: 1px solid $color-spacegrey;
}

.footerPreDivide {
    border-top: 1px solid #404040;
    border-bottom: 1px solid #404040;
    padding-top: 2.3em;
}

.footerLeft {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
}

.footerItems {
    li {
        display: inline-block;
    }
    li h3 {
        margin: 0 20px 0 0 !important;
        a {
            color: #fff !important;
            font-weight: 400;
            font-size: 1rem !important;
        }
    }
    li h4 {
        margin: 0 5px !important;
        font-weight: 400;
        a:hover {
            color: #000 !important;
        }
    }
    li h4 a,
    .footerItems li h4 a:visited,
    .footerItems li h4 a:link {
        color: $color-spacegrey !important;
        font-size: 0.9rem !important;
    }
    div {
      display: inline-block;
      padding: 0.5em;
    }
}

.footerCopy {
    font-size: 0.9rem !important;
}

.footerbottom {
    margin: 0;
    padding-bottom: 1em;
    &  > li {
        display: inline-block;
    }
}

.footerSocial {
    margin-left: 18%;
    li {
        display: inline-block;
        vertical-align: middle !important;
    }
    ul li {
        margin: 0 10px;
        i {
            font-size: 1rem;
            color: $color-spacegrey !important;
        }
        i:hover {
            color: #000 !important;
        }
    }
}
