textarea {
  border: 1px solid $color-divider !important;
  outline: none;
  font-family: 'system-ui';
  padding: 1em;
}

input {
    font-family: $font-secondary;
    border: none;
}

input[type=text]::-ms-clear {
    display: none;
    height: 0;
    width : 0;
}

input[type=text]::-ms-reveal {
    display: none;
    height: 0;
    width : 0;
}

input[type="radio"] + label {
    font-size: 14px;
}

input[type="radio"] + label span {
    display: inline-block;
    background-color: $color-spacegrey;
    width: 13px;
    height: 19px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

select {
    width: 150px;
    height: 34px;
    overflow: hidden;
    border: 1px solid black !important;
    background-color: white !important;
    border-radius: 0;
    padding: 0 10px 0 15px;
    font-size: 16px;
    line-height: 1;
    option {
        background-color: rgb(221, 221, 221) !important;
        color: $color-spacegrey !important;
        outline: none !important;
        border: 1px solid #ccc !important;
    }
    &:focus {
        outline: none !important;
        border: 1px solid #ccc !important;
    }
}

.listprice {
  color: $color-money;
  width: 60px;
  font-family: 'Open Sans' !important;
}

.listdescription {
    height: 100px;
    padding: 16px 16px 32px;
    outline: none;
    border: 1px solid #e2e2e2;
}

.fileDropper {
  display: none !important;
}
