.leftNav {
    float: left;
    width: 50%;
    height: inherit;
}

.rightNav {
    float: right;
    margin-right: 12em;
    height: inherit;
    display: inline-block;
}

.headerNav {
    background-color: $color-spacered;
    width: 100%;
    z-index: 100;
    top: 0;
    max-width: 1920px;
    height: 75px;
    position: fixed !important;
    border-bottom: 2px solid $color-spacegrey;
    a {
        transition: none !important;
    }
    ul {
        display: inline-block;
    }
    ul li {
        display: inline-block;
    }
}

// Nav
.headerAuth {
    li a {
        color: #fff !important;
        border: 1px solid #fff !important;
        padding: 10px 14px;
        margin: 0.5em;
    }
    li a:hover {
        color: white;
        background: $color-spacegrey;
    }
}

.headerLocation {
    font-size: 0.8rem !important;
}

.headerLocationRadius {
    float: left;
    margin-top: 0;
    font-size: 0.9rem;
    &:hover {
        color: yellow !important;
    }
}

#radiusLogo {
    font-size: 1.4rem !important;
    &:hover {
      font-weight: bold;
      animation: 2s;
    }
}

.searchIcon {
  color: $color-lightgrey;
}

.clickDropper {
    li ul li a {
      padding: 15px 0px 15px 0px !important;
      font-size: 0.8rem !important;
    }
    & > li > ul > a:first-child::before {
      color: #404040;
      margin: -30px 15px -4px 0;
      font-size: 1.3rem;
      left: 12.3em !important;
      pointer-events: none;
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 11.5px solid transparent;
      border-right: 11.5px solid transparent;
      border-bottom: 11px solid #404040;
      margin-top: -13px;
    }
}

.headerDropDownNav {
  box-shadow: 0px 2px 5px;
  a li {
    border-bottom: 2px solid #404040 !important;
    &:hover {
        text-decoration: underline;
        background: $color-spacered;
        transition: 0.2s;
        color: white !important;
    }
  }
}

.notifLi {
    width: 100%;
    margin: 2px 0;
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d7;
    ul > li {
        display: inline-block;
    }
}

.headerCatDrop {
    margin: 0 !important;
    padding: 0 !important;
    border: 1px solid $color-spacegrey !important;
    font-size: 0.9rem !important;
    &:hover {
        cursor: pointer;
        background-color: $color-spacegrey !important;
        color: white !important;
    }
}

.headerCatDropDown {
    margin-left: -151px !important;
    ul {
      margin: 0.9em -1px 0px -14em !important;
    }
}

.modTriggerJoin {
    font-family: $font-header !important;
}

.hoverDropper {
    padding: 12px !important;
    span {
        font-size: 0.9rem;
    }
}

.headerCat,
.headerBigCat {
    margin: 0 0 0 0;
}

.headerPreDrop {
    margin-left: -172px !important;
}

.hoverDropDown {
    max-height: 400px !important;
    overflow-y: scroll !important;
}

.headerNameOptions {
    margin: 0;
    li {
        margin: 0 2px;
    }
    li img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 3px;
    }
    li a {
        padding: 12px !important;
        border: 1px solid black;
    }
}

.headerHomeButton {
    margin: 0;
    a {
        color: black !important;
    }
}

.headerNameOptions li a {
    padding: 12px !important;
    border: 1px solid black;
    border-radius: 0.2em;
}

.headerHomeButton li a  {
    padding: 12px !important;
    border-radius: 0.2em;
}

.headerNameOptions li a:hover,
.headerHomeButton li a:hover {
    color: #fff !important;
    background-color: $color-spacegrey !important;
}

.headerPostOptions {
    li a i {
        font-size: 1.6rem;
        padding: 6px;
        margin-right: 5px;
        margin-left: 5px;
        vertical-align: middle;
    }
}

/////////////////////////////////////////
// Notifications
/////////////////////////////////////////

.notifInfo ul > li {
    display: block;
}

.notifMessage p, .notifDate p {
    margin: 0 5px;
}

.notifDate p {
    font-size: 0.7rem;
    color: #7b7b7b;
    margin-top: -5px;
}

/////////////////////////////////////////

.headerNameOptions li a {
    color: black !important;
}

.headerSearchRadiusLogo {
    margin-left: 22px;
    margin-right: 22px;
    font-weight: 400;
}
