.leftNav {
  width: 40%;
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
}

.rightNav {
  margin-left: auto;
}

.login {
  margin-right: 22px;
}

.searchIcon {
  position: relative;
  top: 0.2em;
  font-size: 1em;
  left: -2em;
}

.headerNav {
  background-color: $color-spacered;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 65px;
  position: fixed !important;
  border-bottom: 2px solid $color-spacegrey;
  ul {
      display: inline-block;
  }
}

.wholeNav {
  max-width: 1180px;
  align-items: center;
  height: 65px !important;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.headerAuthPre {
  display: flex !important;
}

.headerAuth {
    li a {
      color: white !important;
      border: 1px solid white !important;
      border-radius: 0.2em;
      padding: 5px 15px;
      margin: 0.5em;
      transition: 0.5s;
    }
    li a:hover {
      color: white;
      background: $color-spacegrey;
    }
}

.navGeneral {
  margin-right: 22px;
}

.headerDropDown {
    position: relative;
    display: inline-block;
    ul {
        display: none;
        position: absolute;
        margin: 0.6em -1px 0px -13.16em !important;
        border: 3px solid $color-spacegrey;
        border-radius: 0.3em;
        animation: 0.5s fadeInDownMini;
        padding: 0;
        background-color: white !important;
        font-size: 0.8rem;
        width: 17em;
        z-index: 3;

        li {
            padding: 15px 50px 15px 15px;
            display: flex;

            a {
                margin: 0 !important;
                padding: 15px 80px 15px 15px !important;
            }
        }

    }
}

.navNotifications {
  ul {
    margin: 1.6em -1px 0px -14.1em !important;
  }
}

.radiusLogo span {
    font-size: 1.6em;
    font-weight: bold !important;
    color: white;
}

.radiusLogo {
  color: white !important;
}

.clickDropper {
    li ul li a {
      padding: 15px 0px 15px 0px !important;
      font-size: 0.8rem !important;
    }
    & > .navNotifications > ul > a:first-child::before {
      color: $color-spacegrey;
      margin: -30px 15px -4px 0;
      font-size: 1.3rem;
      left: 8.55em !important;
      pointer-events: none;
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 11.5px solid transparent;
      border-right: 11.5px solid transparent;
      border-bottom: 11px solid $color-spacegrey;
      margin-top: -13px;
    }
    & > .navGeneral > ul > a:first-child::before {
      color: $color-spacegrey;
      margin: -30px 15px -4px 0;
      font-size: 1.3rem;
      left: 8.55em !important;
      pointer-events: none;
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-left: 11.5px solid transparent;
      border-right: 11.5px solid transparent;
      border-bottom: 11px solid $color-spacegrey;
      margin-top: -13px;
    }
}

.headerDropDownNav {
  box-shadow: 0px 2px 5px;
  a li {
    font-family: 'system-ui';
    font-weight: bold;
    &:hover {
        background: $color-charcoal;
        transition: 0.2s;
        color: white !important;
    }
  }
}

.headerCatDropDown {
    margin-left: -151px !important;
    ul {
      margin: 0.9em -1px 0px -14em !important;
    }
}

.headerNameOptions li a {
  padding: 8px !important;
  border: 1px solid black;
  color: black !important;
  border-radius: 0.2em;
  transition: 0.5s;
  &:hover {
    color: #fff !important;
    background-color: $color-spacegrey !important;
  }
}

.headerSearch {
  margin: 0 !important;
}

.headerSearchRadiusLogo {
  margin-right: 22px;
  margin-left: 22px;
}
