.grid-item {
  width: 250px;
  float: left;
}

.modAddListingPageFourUl li {
  padding-bottom: 1em;
}

.editListing {
  float: right !important;
}

.homeCardUl {
  padding-top: 3em;
}

.homeCard {
  margin: 1em;
  overflow: auto;
  min-height: 54em;
}

.homeCardLi {
  margin: 10px 8px;
  width: 13em;
  border-radius: 5px;
  box-shadow: 0px 2px 5px;
}

.homeCardDetails {
  padding: 0em 1em 2.5em 1em;
  li ul li {
      margin: 5px auto;
  }
}

.homeCardImg {
    &:hover {
        animation: 0.2s;
        filter: brightness(70%);
    }
}

.homeCardItem {
    max-height: 18em !important;
    img {
      max-height: 15em !important;
    }
    li a h4 {
        color: $color-spacegrey;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis !important;
        text-align: center;
        padding: 0.5em;
        font-weight: bold;
        max-width: 15em;
        white-space: nowrap !important;
        font-family: "Oswald";
        font-size: 1rem !important;
        &:hover {
            text-decoration: underline;
        }
    }
}

.homeCardLeft {
    float: left !important;
}

.homeCardRight {
    float: right !important;
    text-align: right;
}

.homeCardUser {
  text-decoration: underline;
  margin-left: 0px !important;
  a {
      font-size: 0.6rem !important;
  }
}

.homeTitle {
  padding-bottom: 1em;
  a h4 {
    font-family: 'system-ui';
  }
}

.homePrice {
  text-align: left !important;
  font-size: 0.8em !important;
}
