.listingItemUser {
    height: 75px;
    width: 16em;
    margin: 0 auto;
    padding: 0.7em;
    background: white;
    border-radius: 0.4em;
    a span {
        vertical-align: middle;
        margin-left: 4px;
    }
    a img {
        vertical-align: middle;
        width: 65px;
        height: 65px;
        border-radius: 6px;
    }
    & > ul {
        display: inline-block;
        margin: 0;
    }
}
