.itemMoney {
    width: 3.5em;
}

.map {
  float: right !important;
  width: 50% !important;
}

.listingItemUser {
    a span {
        vertical-align: middle;
        margin-left: 4px;
    }
    a img {
        vertical-align: middle;
        width: 65px;
        height: 65px;
    }
    & > ul {
        display: inline-block;
        margin: 0;
    }
}

.listingPrice {
  display: initial;
}

.placeLocation {
  width: 20em;
  float: right;
  border-radius: 0.5em;
}

.listingItemUserName {
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 19px;
    padding-left: 1em;
    a {
       white-space: nowrap !important;
       float: left !important;
       font-weight: bold;
   }
}

.listingItemCreated {
    color: white;
    border-radius: 0.2em;
    padding: 5px 10px;
    background: $color-spacered;
}

.listingItemDiv {
  padding: 1em 2em;
  margin: 6em auto;
  max-width: 850px;
  box-shadow: 0px 2px 5px rgba(27,2,35,0.15);
  background: white;
  & > div {
      display: inline-block;
  }
  & > h1, .listingItemDiv p {
      margin: 0;
  }
  &  > p {
      font-size: 0.8rem;
      font-style: italic;
      color: #6c54b3;
  }
}

.listingItemPrice {
    float: right;
    margin: 0;
     ul {
        margin: 0;
        display: inline-block;
    }
}

.desc-box {
  border-radius: 4px;
  margin-top: 1em;
  box-shadow: 0px 1px 3px rgba(27,2,35,0.15);
  p {
      padding: 10px 10px 13px 10px;
      margin: 5px;
  }
  ul li {
      padding: 10px;
      font-size: 1rem !important;
  }
}

.listingItemLeft {
    width: 100%;
}

.listingItemTitle {
    font-size: 26px !important;
    font-family: 'system-ui';
    margin: 0;
}

.titleEdit {
    font-weight: bold !important;
}

.editing {
    border: 1px solid $color-divider !important;
    padding: 3px;
}

.descEdit {
  outline: none;
  height: 3em;
}
