.itemMoney {
    font-size: 20px !important;
    width: 3.5em;
}

.map {
  float: right !important;
  width: 50% !important;
}

.rowListing {
  margin-bottom: 3em;
}

.listingItemUser {
    text-align: CENTER;
    a span {
        vertical-align: middle;
        margin-left: 4px;
    }
    a img {
        vertical-align: middle;
        width: 65px;
        height: 65px;
        border-radius: 6px;
    }
    & > ul {
        display: inline-block;
        margin: 0;
    }
}

.placeLocation {
  width: 20em;
  float: right;
  border-radius: 0.5em;
}

.userImgSmall {
    ul li a img {
        height: 80px !important;
        width: 80px !important;
    }
}

.listingItemUserInfo {
    margin-left: 15px !important;
    margin-top: 30px !important;
    vertical-align: middle;
    font-size: 1.5rem;
}

.listingItemUserName {
    width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    font-size: 19px;
    a {
       white-space: nowrap !important;
       float: left !important;
       font-weight: bold;
   }
}

.listingItemCreated {
    color: $color-burgundy;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    float: left;
    margin-bottom: 0px;
}

.listingItemDiv {
  padding: 1em 2em;
  margin: 6em auto;
  max-width: 850px;
  box-shadow: 0px 2px 5px;
  & > div {
      display: inline-block;
  }
  & > h1, .listingItemDiv p {
      margin: 0;
  }
  &  > p {
      font-size: 0.8rem;
      font-style: italic;
      color: #6c54b3;
  }
}

.listingItemPrice {
    float: right;
    margin: 0;
     ul {
        margin: 0;
        display: inline-block;
    }
}

.desc-box {
  border-radius: 4px;
  margin-top: 1em;
  box-shadow: 0px 1px 3px black;
  p {
      width: 91%;
      padding: 10px 10px 13px 10px;
      margin: 5px;
  }
  ul li {
      padding: 10px;
      font-size: 1rem !important;
  }
  ul li:last-child {
      padding-top: 6px !important;
  }
}

.listingItemLeft {
    width: 100%;
}

.listingItemTitle {
    font-size: 22px !important;
    font-family: 'system-ui';
    margin: 0;
}

.titleEdit {
    width: 99%;
    font-weight: bold !important;
}

.editing {
    border: 1px solid $color-divider !important;
    padding: 8px;
}

.descEdit {
  outline: none;
  height: 3em;
}
