.modal-dialog {
	opacity: 1 !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
 	outline: 0;
	height: 500px;
	margin:0 auto;
	padding: 2em;
	position: absolute;
	transition: all .3s ease;
}

.modal-content {
	transition: all .3s ease;
	border: 8px solid $color-spacered !important;
	border-radius: 15px !important;
	box-shadow: 0 0 16px black !important;
	overflow-y: hidden !important;
	& > div {
		background-color: white !important;
		overflow-y: hidden !important;
		border-radius: 11px;
	}
}

.modal-close {
	float: right;
}

.close i {
	font-size: 2em;
	&:hover {
		color: $color-spacered;
	}
}

.uploadimages {
  background-color: $color-spacered;
}

.modal-body {
	max-height: 500px;
	overflow-y: scroll !important;
	overflow-x: hidden;
	padding: 25px !important;
	img {
    	height: 30em;
	}
}

.modalNext {
	float: right !important;
	background-color: #04b2ec !important;
	&:hover {
		background-color: #06C1FF !important;
	}
}

.modalBack,
.modalExit {
	float: left !important;
	background-color: #999 !important;
	margin-right: 10px;
	&:hover {
		background-color: #ababab !important;
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: red;
	opacity: 0.6;
	-webkit-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

.listdescription {
    resize: none;
    width: 92%;
    height: 150px;
}

.currentLocation input {
	padding: 11px 50px !important;
	color: #fff !important;
	background-color: red;
	border: none;
	border-radius: 4px !important;
}

.modLocationRadiusTrigger {
	color: $color-spacegrey !important;
	background-color: #f8504b !important;
}

.modLocationRadiusBody {
	margin-bottom: 17em;
}

.notifMainWrap {
    width: 70%;
    margin:auto;
    h2 {
		margin-top: 50px !important;
		font-weight: 400 !important;
	}
}

#profileReceivedName {
	margin: 8px 0 15px 0 !important;
}

////////////////// Join ///////////////////

.modWrapper {
	h1 {
		font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
	}
	h1 i {
		margin-right: 20px;
		vertical-align: middle !important;
		padding: 10px !important;
		background-color: $color-spacered !important;
		color: white !important;
	}
	ul li {
		line-height: 2;
	}
}

.modJoinOnly {
	color: blue;
	font-size: 1rem !important;
    font-weight: bold;
}

/////////////////////////////////////////

.modProfileActiveBtn {
	margin: 20px 0 !important;
	color: white !important;
	button {
		padding: 15px !important;
		width: 75% !important;
		color: white !important;
		background-color: $color-spacered !important;
		border-radius: 4px;
	}
	button:hover {
		background-color: #f73c37 !important;
	}
	& :first-child {
		margin-top: 40px !important;
	}
}

.modActiveCreator {
	color: $color-spaceblue !important;
}

.modActiveDirWrap {
	text-align: center;
	h3 {
		color: $color-spaceblue;
		font-weight: 400;
	}
}

.modEditListingBody {
    overflow: scroll !important;
}

.modReportTrigger {
    background-color: #E87600 !important;
    display: initial !important;
}

.modActiveDirMaps img {
	width: 80% !important;
	height: 320px !important;
}

.modProfileActiveBtnDir {
	float: right !important;
	width: 40% !important;
	margin-top: 0 !important;
	button {
		margin-right: 200px;
	}
}

.editListTrade {
	margin-top: 30px !important;
}

.editListRadio h2 {
	font-size: 1.8rem !important;
}

.joinAgreeSmall {
	margin: 0px !important;
	padding: 0 !important;
	font-size: 0.75rem !important;
	color: #444 !important;
	margin-top: 15px !important;
}

.reportName {
    margin-left: 20px;
    ul li a p {
        font-size: 1.4rem;
        padding: 2px;
        margin: 0 10px;
    }
}

#datepicker {
    color: black !important;
}

.offerAcceptButton input:hover {
    background-color: #6DAB59;
}

// Image

.modImageDialog {
	margin: 0px;
	width: 80%;
}
