.modal-dialog {
	opacity: 1 !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
 	outline: 0;
	height: 500px;
	margin:0 auto;
	padding: 2em;
	position: absolute;
	transition: all .3s ease;
}

.modal-content {
	transition: all .3s ease;
	border: 8px solid $color-spacered !important;
	border-radius: 15px !important;
	box-shadow: 0 0 16px black !important;
	overflow-y: hidden !important;
	& > div {
		background-color: white !important;
		overflow-y: hidden !important;
		border-radius: 11px;
	}
}

.modal-close {
	float: right;
}

.close i {
	font-size: 2em;
	&:hover {
		color: $color-spacered;
	}
}

.modal-body {
	max-height: 500px;
	overflow-y: scroll !important;
	overflow-x: hidden;
	padding: 25px !important;
	img {
    	height: 30em;
	}
}

.modalNext {
	float: right !important;
	background-color: #04b2ec !important;
	&:hover {
		background-color: #06C1FF !important;
	}
}

.modalBack,
.modalExit {
	float: left !important;
	background-color: #999 !important;
	margin-right: 10px;
	&:hover {
		background-color: #ababab !important;
	}
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: red;
	opacity: 0.6;
	-webkit-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}

.listdescription {
    resize: none;
    width: 92%;
    height: 150px;
}

.currentLocation input {
	padding: 11px 50px !important;
	color: #fff !important;
	background-color: red;
	border: none;
	border-radius: 4px !important;
}

.modLocationRadiusTrigger {
	color: $color-spacegrey !important;
	background-color: #f8504b !important;

	&:hover {

	}
}

.modLocationRadiusBody {
	margin-bottom: 17em;
}

.notifMainWrap {
    width: 70%;
    margin:auto;
    h2 {
		margin-top: 50px !important;
		font-weight: 400 !important;
	}
}

#profileReceivedName {
	margin: 8px 0 15px 0 !important;
}

.profileReceivedPriceOriginal {
	font-size: 0.8rem;
	vertical-align: middle;
	margin-left: 6px;
}


.profileReceivedOffersInfoTime {
	font-size: 0.85rem !important;
	font-style: italic !important;
	color: #6c54b3 !important;
	float: right !important;
	margin-top: 3px !important;
	margin-right: 10px;
}

.receivedGoBack {
	background-color: #00bfff !important;
	margin-right: 10px !important;
	& :hover {
		background-color: #04b2ec !important;
	}
}

.modReportPageTwo ul li:last-child {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.modReportPageTwo ul li input {
	margin-right: 10px;
	outline: none !important;
}

.modReportPageThree textarea {
	width: 100%;
	height: 280px;
}

////////////////// Join ///////////////////

.modWrapper {
	h1 {
		font-size: 1.5rem;
	    font-weight: 400;
	    margin-bottom: 0;
	    margin-top: 0;
	}
	h1 i {
		margin-right: 20px;
		vertical-align: middle !important;
		padding: 10px !important;
		background-color: $color-spacered !important;
		color: white !important;
	}
	ul li {
		line-height: 2;
	}
}

.modJoinOnly {
	color: blue;
	font-size: 1rem !important;
    font-weight: bold;
}

/////////////////////////////////////////

.modEditListingDiv {
	h2 {
    	font-weight: 400 !important;
    	font-size: 2rem !important;
	}
	& > ul > li {
    	font-size: 1.1rem !important;
	}
	ul li:nth-child(2) {
    	margin-left: 25px !important;
	}
	li div {
    	margin-top: 5px !important;
	}
}

.modEditListingDiv ul li:nth-child(5),
.modEditListingDiv ul li:nth-child(8) {
    margin-left: 35px !important;
}

.modEditListingDiv ul li:nth-child(4), .modEditListingDiv ul li:nth-child(5) {
    margin-top: 30px !important;
}

.modProfileActiveBtn {
	margin: 20px 0 !important;
	color: white !important;
	button {
		padding: 15px !important;
		width: 75% !important;
		color: white !important;
		background-color: $color-spacered !important;
		border-radius: 4px;
	}
	button:hover {
		background-color: #f73c37 !important;
	}
	& :first-child {
		margin-top: 40px !important;
	}
}

.modActiveCreator {
	color: $color-spaceblue !important;
}

.modActiveDirWrap {
	text-align: center;
	h3 {
		color: $color-spaceblue;
		font-weight: 400;
	}
}

.modEditListingBody {
    overflow: scroll !important;
}

.modReportTrigger {
    background-color: #E87600 !important;
    display: initial !important;
}

.modActiveDirMaps img {
	width: 80% !important;
	height: 320px !important;
}

.modProfileActiveBtnDir {
	float: right !important;
	width: 40% !important;
	margin-top: 0 !important;
	button {
		margin-right: 200px;
	}
}

.editListTrade {
	margin-top: 30px !important;
}

.editListRadio h2 {
	font-size: 1.8rem !important;
}

// .modOfferRequestPageOneUl li h2 {
// 	width: 100% !important;
// }

.joinAgreeSmall {
	margin: 0px !important;
	padding: 0 !important;
	font-size: 0.75rem !important;
	color: #444 !important;
	margin-top: 15px !important;
}

.reportMain,
.reportMain div,
.reportText {
    margin-left: 1rem;
}

.reportName {
    margin-left: 20px;
    ul li a p {
        font-size: 1.4rem;
        padding: 2px;
        margin: 0 10px;
    }
}

.reportName ul li,
.reportCheck ul {
    display: inline-block;
}

.reportListingImg img {
    height: 6rem;
    width: 9rem;
    padding: 2px;
    margin: 5px 10px 0 20px;
    vertical-align: middle;
}

.reportCheck {
	p {
    	margin: 35px 0 2px 20px;
	}
	ul li {
    margin: 2px 20px 25px 20px;
    text-align: left;
	    input {
	        vertical-align: middle;
	        margin-right: 5px;
	    }
	}
}

#datepicker {
    color: black !important;
}

.reportText p {
    margin-left: 20px;
}

.reportUserImg img {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    padding: 2px;
    margin: 5px 10px 0 20px;
    vertical-align: middle;
}

.offerRequestDiv {
    margin-bottom: 10px !important;
    &  > div {
    	display: inline-block;
	}
}

.offerRequestRight {
    width: 50%;
    margin-left: 5%;
}

.offerRequestLeft {
    width: 40%;
    vertical-align: top;
}

.offerRequestImg {
    width: 100%;
}

.offerRequestOfferPrice {
    margin-left: 5%;
}

.offerRequestDate ul {
    margin: 10px 0 0 0;
    li h4 {
    	margin: 0 0 5px 0;
	}
}

.offerRequestLocation {
	ul {
    	margin: 10px 0 0 0;
	}
	h4 {
    	margin: 0px;
	}
	ul li {
    	display: inline-block !important;
	}
	input {
    	margin: 10px 0 0 0 !important;
	}
}

.offerAcceptButton input:hover {
    background-color: #6DAB59;
}

// Image

.modImageDialog {
	margin: 0px;
	width: 80%;
}
