.desc {
    float: left;
    width: 48%;
}

.locoplace {
  display: inline-block !important;
}

.guardian {
    float: right;
    width: 48%;
    padding-top: 3em;
}

.editProfile {
  float: right;
}

.dateDiv {
  width: 50%;
}

.rating {
  float: right;
  padding-top: 1.4em;
}

.profilePic {
  border: 4px solid white !important;
  border-radius: 7.2em;
}

.profile-link {
    color: $color-spacegrey !important;
    text-underline: underline;
    font-family: 'system-ui' !important;
    :hover {
        color: #0890F2 !important;
        text-decoration: underline;
    }
}

.box-title {
    background: $color-spacered !important;
    font-family: inherit;
    font-size: 1.1em !important;
    color: white;
    margin: 0 !important;
    padding: 5px 8px;
}

.desc-box {
  border: 1px solid $color-spacered;
  border-radius: 4px;
  margin-top: 3em;
  box-shadow: 0px 1px 3px red;
  width: 30em;
  background: white;
  p {
      width: 91%;
      padding: 10px 10px 13px 10px;
      margin: 5px;
  }
  ul li {
      padding: 10px;
      font-size: 1rem !important;
  }
  ul li:first-child {
      padding-bottom: 1px !important;
  }
  ul li:last-child {
      padding-top: 6px !important;
  }
}

.profileUser {
    margin: 6em 20em;
    min-height: 50em !important;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 4px;
}

.profileUserLeft {
  width: 14em;
  vertical-align: top;
  display: inline-block;
}

.topStrip {
  background-image: linear-gradient(to bottom, #f8504b, #E63223);
  padding: 3em;
  border-radius: 0.2em;
  box-shadow: 0px 2px 5px;
}

.profileUserRight {
  width: 16.5em;
  padding: 1em;
  border: 1px solid;
  display: inline-block;
  background: white;
  box-shadow: 0px 2px 5px;
}

.profileUserImage {
  height: 170px;
  width: 170px;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.profileUserName {
  h1 {
      font-size: 1.5rem;
      font-weight: bold !important;
      margin: 0;
      font-family: 'system-ui';
  }
  ul {
      margin: 0;
      li {
          display: inline-block;
          vertical-align: middle;
      }
  }
}

.UserRating ul {
    margin: 1em 0px 0px 0px;
    li {
        display: inline-block;
        float: right;
    }
    li span {
        margin-left: 5px;
        font-size: 1.3rem;
    }
    li span a {
        color: $color-spacegrey !important;
    }
    li i {
        margin-left: 15px;
        font-size: 1.3rem;
        color: #3b5998 !important;
    }
}

.profileUserInfo ul {
    margin: 10px 0 0 0 ;
    vertical-align: middle;
    & > ul li {
        display: inline-block;
        margin-left: 0.3em;
        vertical-align: middle !important;
    }
    li a {
        padding: 2px 5px;
        font-size: 1.6rem;
        vertical-align: middle !important;
    }
    li a i {
        color: $color-darkblue !important;
    }
}

.profileUserAmount {
    display: inline-block;
}

.profileUserAmount ul {
    margin: 15px 0 8px 0 !important;
    li {
        display: inline-block;
        padding: 10px 15px;
        border-radius: 4px;
        background-color: $color-spaceblue !important;
        font-family: 'Helvetica Neue', sans-serif !important;
        color: white !important;
    }
}

.profileSettingsUl {
    width: 70% !important;
    margin: auto !important;
    & > li {
        display: block;
    }
}

.profileSettingsEmail li input {
    margin-left: 38px;
}

.profileSettingsLocation li input {
    margin-left: 14px;
}

.profileSettingsUsername li input {
    margin-left: -5px;
}

.profileSettingsImage {
    margin-left: 35px;
}

.profileSettingsPhoto li h4 {
    vertical-align: top !important;
}

.profileSettingsPhoto li img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

.profileSettingsPhoto li input {
    padding: 0 !important;
    width: 200px !important;
    border-radius: 0 !important;
    border: none !important;
    margin-left: 20px;
}

.profileCard > h2 {
    margin-left: 5px;
}

.profileCard > ul {
    text-align: center;
}

.profileCardUl > li {
    display: inline-block;
    border: 1px solid $color-spaceblue;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 0px 10px 0px 10px;
    width: 28.9%;
    &:hover {
        border: 1px solid #999;
    }
}

.featurePageTitle {
    text-decoration: underline;
}

.profileReceivedOffers h2 {
    margin: 0;
}

.profileReceivedOffers > ul {
    margin-left: 0%;
}

.profileReceivedOriginal {
    margin: 3px 0 0 0;
    font-size: 0.9rem;
}

.profileReceivedUl {
    width: 97%;
    margin: 0;
}

.profileReceivedLi {
    height: 475px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
}

.profileReceivedLi > ul {
    display: inline-block !important;
}

.profileReceivedCardLeft {
    width: 35% !important;
}

.profileReceivedImage {
    width: 100% !important;
    height: 260px;
}

.profileReceivedImg {
    width: 100% !important;
    height: 100%;
    border-radius: 6px !important;
}

.profileReceivedCardRight {
    width: 50% !important;
    margin-left: 5%;
    vertical-align: top;
    li a {
        margin: 0;
        color: $color-spaceblue !important;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    li a:hover {
        color: $color-spaceblue !important;
        text-decoration: underline;
    }
    li a h3 {
        margin: 0;
        font-size: 1.4rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.profileReceivedName {
    font-size: 0.8rem;
    color: #6c54b3;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px 0 20px 0 !important;
}

.profileReceivedDate,
.profileReceivedLocation {
    margin: 0 0 8px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profileReceivedAccept a {
    background-color: #49E20E !important;
}

.profileReceivedDecline {
    margin: 0 0 0 10px !important;
}

#profileReceivedOffersMaps {
    margin-top: 10px;
    width: 100%;
    height: 180px;
}

.profileViewMeetupRight li {
    margin: 16px 0 !important;
}

.profileViewMeetupLi {
    margin-bottom: 50px;
}

/** Social Button CSS **/

.defaultProfileDiv {
    text-align: center;
    h2 {
        font-weight: 400 !important;
        color: #555 !important;
        vertical-align: middle !important;
    }
     h2 i {
        margin-right: 15px;
        vertical-align: middle !important;
        padding: 10px !important;
        background-color: $color-spacered !important;
        color: #fff !important;
    }
}

.listtitle {
    width: 80%;
}
