.desc {
    float: left;
    width: 100%;
}

.locoplace {
  display: inline-block !important;
}

.guardian {
  float: right;
}

.editProfile {
  float: right;
}

.dateDiv {
  width: 50%;
}

.rating {
  float: right;
  padding-top: 1.4em;
}

.profilePic {
  border: 4px solid white !important;
  border-radius: 7.2em;
}

.box-title {
    background: $color-spacered !important;
    font-family: inherit;
    font-size: 1.1em !important;
    color: white;
    margin: 0 !important;
    padding: 5px 8px;
}

.flickity-page-dots {
  display: none !important;
}

.profileUser {
    margin: 6em 20em;
    min-height: 50em !important;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
    margin-top: 4px;
}

.profileUserLeft {
  width: 14em;
  vertical-align: top;
  display: inline-block;
}

.topStrip {
  background-image: linear-gradient(to bottom, $color-spacered, #E63223);
  padding: 3em;
  border-radius: 0.2em;
  box-shadow: 0px 2px 5px;
}

.profileUserRight {
  width: 16em;
  padding: 1.6em;
  display: inline-block;
  background: white;
  box-shadow: 0px 2px 5px;
}

.profileUserImage {
  height: 170px;
  width: 170px;
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

.profileUserName {
  h1 {
      font-size: 1.5rem;
      font-weight: bold !important;
      margin: 0;
      font-family: 'system-ui';
  }
  ul {
      margin: 0;
      li {
          display: inline-block;
          vertical-align: middle;
      }
  }
}

.UserRating ul {
    margin: 1em 0px 0px 0px;
    li {
        display: inline-block;
        float: right;
    }
    li span {
        margin-left: 5px;
        font-size: 1.3rem;
    }
    li span a {
        color: $color-spacegrey !important;
    }
    li i {
        margin-left: 15px;
        font-size: 1.3rem;
        color: #3b5998 !important;
    }
}

.profileUserInfo ul {
    margin: 0px 0px 5px 0px;
    & > ul li {
        display: inline-block;
        margin-left: 0.3em;
        vertical-align: middle !important;
    }
    li a {
        padding: 2px 5px;
        font-size: 1.6rem;
        vertical-align: middle !important;
    }
}

.profileUserAmount {
  display: inline-block;
  ul {
    margin: 15px 0 8px 0 !important;
    li {
        display: inline-block;
        padding: 10px 10px;
        border-radius: 4px;
        font-family: 'Helvetica Neue', sans-serif !important;
        color: white !important;
        background: $color-spacered;
    }
  }
}

.profileCard > h2 {
    margin-left: 5px;
}

.profileCard > ul {
    text-align: center;
}

.profileCardUl > li {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 0px 10px 0px 10px;
    width: 28.9%;
    &:hover {
        border: 1px solid #999;
    }
}

/** Social Button CSS **/

.listtitle {
    width: 80%;
}
