/* Radio Buttons */
.radioWrap ul li {
	clear: both;
	color: #999 !important;
	display: inline-block;
	label {
		width: 130px;
		border-radius: 3px;
		border: 1px solid #D1D3D4;
		font-size: 1.1rem !important;
	}
}

.radioWrap ul li input.radioWrapElement:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.radioWrap ul li input.radioWrapElement:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
.radioWrap ul li input.radioWrapElement:hover:not(:checked) ~ label:before {
	text-indent: .9em;
	color: #C2C2C2;
}

.radioWrap ul li input.radioWrapElement:hover:not(:checked) ~ label {
	color: #888;
}

/* toggle on */
.radioWrap ul li input.radioWrapElement:checked ~ label:before {
	text-indent: .9em;
	color: $color-spacered;
	background-color: $color-spacered;
}

.radioWrap ul li input.radioWrapElement:checked ~ label {
	color: #777;
}
