/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Adds responsiveness to mobile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (max-width: 1200px) {
  .search {
    width: 30em;
  }
}

@media (max-width: 1025px) {
  .profileUserRight {
    width: 17em;
  }

  .profileUserName h1 {
    font-size: 1.6rem !important;
  }

  .small-search {
    display: inline-block !important;
  }

  .searchIcon {
    display: none;
  }

  .search {
    display: none;
  }

  .headerNameOptions {
    display: none !important;
  }
}

@media (max-width: 950px) {
  .search {
    width: 25em;
  }

}

@media (max-width: 900px) {

  .profileUser {
    margin: 7em 2em !important;
  }

  .carousel-cell-image {
    width: 100%;
  }

  .profileUserInfo ul li a {
    font-size: 1.4rem !important;
  }

}

@media (max-width: 850px) {

  .carousel {
    width: 100% !important;
  }

  .listingItemDiv {
    padding: 2em 4em;
    margin: 3em 0em !important;
    padding: 2em 1em;
  }

  .guardian {
      float: none;
      margin-top: 1em;
      width: 100% !important;
  }

  .desc {
      width: 100% !important;
  }

  .oneDiv {
    margin: 0em 1em;
  }
}

@media (max-width: 750px) {

    .footerbottom > li {
        display: block !important;
    }

    .footerSocial {
        margin-left: 0 !important;
        margin-top: 20px !important;
    }

    .footerDivide {
        width: 85% !important;
        margin: 20px auto !important;
        li:nth-child(5) {
            margin-top: 20px !important;
        }
    }

}

@media (max-width: 600px) {

    .headerNameOptions {
        display: none !important;
    }

    .box-title {
        font-size: 0.9rem !important;
    }

    .profileDesc p {
        font-size: 0.85rem !important;
    }

    .profileUserAmount ul {
        margin: 5px 0 !important;
        margin-top: 5px !important;
    }

}

@media (max-width: 500px) {

    .grid-item {
      width: 160px;
    }

    .profileUser > div {
      margin: 0 !important;
    }

    .radiusLogo span {
      display: none;
    }

    .radiusLogo::after {
      content: "ST";
      font-size: 1.4em;
      font-weight: bold;
    }

    .homeCardLi {
      width: 150px;
    }

    .profileDesc p {
      font-size: 0.8rem !important;
    }

    .footerDivide {
      width: 90% !important;
      margin: 20px auto !important;
    }

    .desc-box {
      width: 19em !important;
    }

}

@media (max-width: 450px) {

    .topStrip {
      padding: 1em !important;
    }

    .leftNav {
      width: 25%;
    }

    .logo {
      font-size: 3.5rem;
    }

}
