/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Adds responsiveness to mobile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (max-width: 1350px) {

  .carousel {
    width: 100% !important;
  }

  .carousel-cell-image {
    width: auto;
  }

  .placeLocation {
    width: 18.5em !important;
    height: 250px;
    margin-top: 2em !important;
  }

  .listingItemDiv {
    padding: 2em 4em;
    margin: 4em 0em !important;
    background: white;
    padding: 2em 1em;
  }

}
@media (max-width: 895px) {

    .leftNav {
        width: 25% !important;
    }

    .rightNav {
        float: right;
        margin-right: 1.5em;
    }

    .profileUserImage {
        height: 125px !important;
        width: 125px !important;
    }

    .small-search {
      display: inline-block !important;
    }

    .searchIcon {
      display: none;
    }

    .search {
      display: none
    }

    .headerCatDrop {
      display: none !important;
    }

    .headerCat {
      display: none !important
    }

    .placeLocation {
      display: none;
    }

    .headerNameOptions {
      display: none !important;
    }
}

@media (max-width: 750px) {

    .guardian {
        float: none;
        margin-top: 1em;
        width: 100% !important;
    }

    .desc {
        width: 100% !important;
    }

    .footerLeft > ul:first-child {
        width: 80%;
        margin: 20px auto !important;
    }

    .footerLeft ul:first-child li:nth-child(8),
    .footerLeft ul:first-child li:nth-child(9)  {
        margin-top: 20px !important;
    }

    .footerHide {
        display: inline-block !important;
    }

    .footerShow {
        display: none !important;
    }

    .footerbottom > li {
        display: block !important;
    }

    .footerSocial {
        margin-left: 0 !important;
        margin-top: 20px !important;
    }

    .footerDivide {
        width: 85% !important;
        margin: 20px auto !important;
        li:nth-child(5) {
            margin-top: 20px !important;
        }
    }

    .headerPostOptions li a i {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 600px) {

    .headerNameOptions {
        display: none !important;
    }

    .headerHomeButton {
        display: none !important;
    }

    .actions {
      margin: 1.5em -1em;
      float: none;
    }

    .box-title {
        font-size: 0.9rem !important;
    }

    .profileDesc p {
        font-size: 0.85rem !important;
    }

    .profileUserAmount ul {
        margin: 5px 0 !important;
        margin-top: 5px !important;
    }

}

@media (max-width: 509px) {

    .profileUser > div {
      margin: 0 !important;
    }

    // logo change
    #radiusLogo span {
        display: none;
    }

    #radiusLogo::after {
        content: "ST";
    }

    .homeCardLi {
      width: 150px;
    }

    .profileDesc p {
        font-size: 0.8rem !important;
    }

    .footerDivide {
        width: 90% !important;
        margin: 20px auto !important;
    }

    .desc-box {
      width: 19em !important;
    }

    .actions {
      margin: 0 !important;
    }

    .footerLeft > ul:first-child {
        width: 90% !important;
    }
}

@media (max-width: 450px) {

    .logo {
        font-size: 3.5rem;
    }

    .grid-item {
      width: 160px;
    }

    .placeLocation {
      width: 19.5em !important;
      float: left !important;
    }

    .carousel-cell-image {
      width: 100%;
    }

    .placeLocation {
      height: 250px;
    }

    .search {
      width: 60%;
    }

    .homeCardLi {
      width: 150px;
    }

    .profileUserInfo ul li a {
      font-size: 1.4rem !important;
    }

    .footerItems li h4 a {
      font-size: 0.9em !important;
    }

    .profileUserRight {
      width: 17em;
    }

    .profileUserName h1 {
      font-size: 1.6rem !important;
    }
}
