/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Adds responsiveness to mobile
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@media (max-width: 1350px) {
  .desc {
      width: 100% !important;
  }

  .carousel {
    width: 100% !important;
  }

  .leftNav {
      width: 40% !important;
  }

  .profileCardLi {
      width: 315px !important;
  }

  .desc-box-listing {
      margin-bottom: 2em;
  }

  .listingItemDiv {
      padding: 2em 4em;
      margin: 6em 1em !important;
      background: white;
      padding: 2em 1em;
  }

  .guardian {
      float: none;
      margin-top: 1em;
      width: 100% !important;
  }

}
@media (max-width: 895px) {

    .small-search {
        display: inline-block !important;
    }

    .searchIcon {
      display: none;
    }

    .search {
      display: none
    }

    .headerCatDrop {
        display: none !important;
    }

    .headerCat {
        display: none !important
    }

    .headerNameOptions {
        display: none !important;
    }
}

@media (max-width: 800px) {

    .helpImgUl > li > img {
        margin: 1rem 0 !important;
    }

    .profileUserImage {
        height: 125px !important;
        width: 125px !important;
    }

    .helpPagesPar {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    .searchResultsCards {
        margin-top: 0px !important;
        float: none !important;
        margin-top: 0 !important;
        width: 95.5%;
    }

    .searchResultsCardLi {
        width: 93% !important;
        margin: 10px auto !important;
    }

    .searchResultsCardPrice {
        margin: 8px 0 10px 0 !important;
        font-size: 1rem !important;
    }

    .headerCatDropLi {
        padding: 12px 10px !important;
    }

    .headerNameOptions li a,
    .headerHomeButton li a {
        padding: 12px 10px !important;
    }
}

@media (max-width: 750px) {

    .profileCardLi {
        width: 42% !important;
    }

    .footerLeft > ul:first-child {
        width: 80%;
        margin: 20px auto !important;
    }

    .footerLeft ul:first-child li:nth-child(8),
    .footerLeft ul:first-child li:nth-child(9)  {
        margin-top: 20px !important;
    }

    .footerHide {
        display: inline-block !important;
    }

    .footerShow {
        display: none !important;
    }

    .managerOfferView {
        margin-top: 15px !important;
    }

    .profileUserFeedbackViewResponse,
    .profileUserFeedbackViewCriteria {
        width: 90% !important;
    }

    .profileCardInfo li:first-child {
        font-size: 1rem !important;
        margin-bottom: 8px !important;
    }

    .profileCardItem {
        margin-bottom: 2px !important;
        font-size: 0.8rem !important;
    }

    .managerOfferView button {
        font-size: 0.8rem !important;
        padding: 8px 6px !important;
    }

    .searchResultsCardPrice {
        margin: 6px 0 !important;
        span {
            font-size: 0.9rem;
        }
    }

    .searchResultsCardName p {
        font-size: 0.8rem !important;
    }

    .searchResultsCardSize,
    .searchResultsCardCondition, .searchResultsCardLocation {
        font-size: 0.9rem !important;
        margin: 4px 0 !important;
    }

    .footerbottom > li {
        display: block !important;
    }

    .footerSocial {
        margin-left: 0 !important;
        margin-top: 20px !important;
    }

    .footerDivide {
        width: 85% !important;
        margin: 20px auto !important;
        li:nth-child(5) {
            margin-top: 20px !important;
        }
    }

    .footerLeft > ul:first-child > li:nth-child(1) {
        margin-bottom: 20px !important;
        display: block !important;
    }

    .footerLeft > ul:first-child > li:nth-child(1) h3 {
        margin-right: 0 !important;
    }

    .profileCardInfo li:first-child {
        margin-bottom: 4px !important;
    }

    .managerOfferView {
        margin-top: 4px !important;
    }

    .profileUserCardsUl li {
        width: 22%;
    }

    .profileSettingsUl {
        width: 95% !important;
        margin: auto !important;
    }

    .profileSettingsButton {
        width: 95% !important;
    }

    .profileSettingsLi ul li h4 {
        margin-right: 20px;
    }

    .headerPostOptions li a i {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 600px) {

    // Hides
    .headerCatDrop {
        display: none !important;
    }

    .headerNameOptions {
        display: none !important;
    }

    .headerHomeButton {
        display: none !important;
    }

    .headerSearch {
        float: left;
    }

    .profileCardLi {
        margin: 6px 5px !important;
    }

    .box-title {
        font-size: 0.9rem !important;
    }

    .profileDesc p {
        font-size: 0.85rem !important;
    }

    .profileUserAmount ul {
        margin: 5px 0 !important;
        margin-top: 5px !important;
    }

    .profileUserInfo ul {
        margin-top: 0 !important;
    }

}

@media (max-width: 509px) {

    .profileUserLeft {
        margin-left: 2% !important;
    }

    .clickDropper {
        li ul li a {
            padding: 15px 0px 15px 0px !important;
            font-size: 0.8rem !important;
        }
        & > li > ul > a:first-child::before {
          left: 8.1em !important;
        }
    }

    .leftNav {
        width: 15% !important;
    }

    .rightNav {
        width: 75% !important;
        text-align: center;
        float: none;
        margin-right: 0 !important;
    }

    .headerDropDown ul {
      margin: 1.6em -1px 0px -13em !important;
      width: 30em;
      li {
        width: 19.8em;
      }
    }

    // logo change
    #radiusLogo span {
        display: none;
    }

    #radiusLogo::after {
        content: "ST";
    }

    .contactname input, .contactsubject input,
    .contactemail input, .contacttext textarea {
        width: 80% !important;
    }

    .contactSend {
        width: 93% !important;
    }

    .homeCardLi {
      width: 150px;
    }

    .profileSettingsPhoto {
        li input {
            font-size: 0.9rem !important;
            width: 175px !important;
            margin-left: 10px !important;
        }
        li img {
            width: 80px !important;
            height: 80px !important;
        }
    }

    .profileSettingsButton input {
        font-size: 0.9rem !important;
    }

    .profileDesc p {
        font-size: 0.8rem !important;
    }

    .profileUserCardsUl li {
        width: 150px !important;
    }

    .profileUserCardsUl li:nth-child(3), .profileUserCardsUl li:nth-child(4) {
        display: none !important;
    }

    .footerDivide {
        width: 90% !important;
        margin: 20px auto !important;
    }

    .footerLeft > ul:first-child {
        width: 90% !important;
    }
}

@media (max-width: 450px) {

    .logo {
        font-size: 3.5rem;
    }

    .search {
        width: 60%;
    }

    .homeCardLi {
        width: 150px;
    }

    .profileUserInfo ul li a {
        font-size: 1.4rem !important;
    }

    .footerItems li h4 a {
      font-size: 0.9em !important;
    }
}

@media (max-width: 415px) {

    .homeCardImg {
      max-height: 7em !important;
    }

    .profileUserName h1 {
        font-size: 1.6rem !important;
    }
}
