.search {
  height: 30px;
  width: 9em;
  border-radius: 3px;
  color: $color-charcoal;
  font-size: 0.9em;
  padding-left: 20px;
  box-shadow: 0px 2px 5px;
}

.small-search {
    display: none;
}

.searchReduce {
    float: right;
}

.searchpage {
    border: 1px solid black;
    width: 50%;
}

.largeSearch {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 6em !important;
    border-bottom: 3px solid $color-spacered;
}

.searchBox {
  display: initial;
}

.searchRefineHeadings {
    color: $color-spaceblue;
}

.searchRefineCategories {
    margin: 16px auto;
}

.search-wrapper {
    width: 100%;
}

.cardprice {
    font-family: 'Abel';
    font-size: 0.95rem;
    font-weight: 400;
    color: #396;
    margin: 2px 1.6rem 2px 10px !important;
    float: left;
}

.cardname {
    float: right;
    margin: 2px 10px 5px 2px !important;
    font-size: 0.8rem;
    text-decoration: underline !important;
    font-weight: 400;
    font-family: $font-norm;
}

.defaultSearch {
    margin-left: 10%;
    h2 {
        font-weight: 400 !important;
        color: #555 !important;
        margin-left: -20px;
    }
    ul li {
        list-style: initial;
        margin: 8px 0;
        color: #666 !important;
    }
}

.searchResultsCardPrice,
.searchResultsCardSize,
.searchResultsCardCondition,
.searchResultsCardLocation {
    font-size: 1.05rem;
    margin: 10px 0;
}

.searchResultsCardPrice {
    margin: 10px 0 15px 0;
}

.seachResultsCardArea  {
    margin-bottom: 0;
}

.searchResultsDiv {
    margin-top: 0 !important;
}

.searchResultsOptions {
    margin-top: 10px;
}

.searchResultsOptions li {
    display: inline-block;
}

.searchResultsCount {
    font-size: 0.8rem;
}
