.search {
  height: 30px;
  width: 10em;
  border-radius: 3px;
  color: $color-charcoal;
  font-size: 0.9em;
  padding-left: 20px;
  padding-right: 2.5em;
  box-shadow: 0px 2px 5px;
}

.small-search {
    display: none;
}

.searchReduce {
    float: right;
}

.searchpage {
    border: 1px solid black;
    width: 50%;
}

.largeSearch {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 6em !important;
    border-bottom: 3px solid $color-spacered;
}

.searchBox {
  display: inline-block;
}

.defaultSearch {
    margin-left: 10%;
    h2 {
        font-weight: 400 !important;
        color: #555 !important;
        margin-left: -20px;
    }
    ul li {
        list-style: initial;
        margin: 8px 0;
        color: #666 !important;
    }
} 
