@keyframes fadeInDownMini {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -15px, 0);
		transform: translate3d(0, -15px, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

html {
  min-height: 100%;
}

body {
  font-family: $font-header;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased !important;
  background: white;
}

p {
  line-height: 1.5rem;
  font-size: 1rem;
}

img {
  width: 100%;
}

a {
  color: $color-spacegrey;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  img {
    outline: none !important;
  }
  &:hover {
    color: $color-spacegrey;
    text-decoration: none;
  }
  &:active {
    color: $color-spacegrey;
    text-decoration: none;
  }
}

h1 {
  font-size: 1.8em;
  font-family: $font-link;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
  font-family: sans-serif;
}

h4 {
  font-size: 1rem;
  margin: 0 !important;
}

ul {
  list-style: none;
  padding: 0;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

input {
  outline: none !important;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  display: none;
}

.oneDiv {
  font-family: $font-norm !important;
  margin: 0em 10em;
  min-height: 50em;
}

::selection {
  background-color: rgba(255, 255, 0, 0.67);
}

.material-icons {
	font-size: 24px !important;
}

.matdrop {
  position: absolute !important;
  bottom: 0.55em !important;
}
