@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
    min-height: 100%;
}

body {
    font-family: $font-header;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased !important;
    background: #e9ebee;
}

p {
    line-height: 1.5rem;
    font-size: 1rem;
}

img {
  width: 100%;
}

a {
  color: $color-spacegrey;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  img {
      outline: none !important;
  }
  &:hover {
      color: $color-spacegrey;
      text-decoration: none;
  }
  &:active {
      color: $color-spacegrey;
      text-decoration: none;
  }
}

h1 {
  font-size: 1.8em;
  font-family: $font-link;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
  font-family: sans-serif;
}

h4 {
    font-size: 1rem;
    margin: 0 !important;
}

ul {
    list-style: none;
    padding: 0;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

input {
  outline: none !important;
}

/////////////////////////////////////////////////////

// Custom

.right {
    float: right !important;
}

.oneDiv {
    font-family: $font-norm !important;
    margin: 2em 1em;
    min-height: 35em;
}

::selection {
    background-color: rgba(255, 255, 0, 0.67);
}
