html {
    min-height: 100%;
}

body {
    font-family: $font-header;
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased !important;
}

p {
    line-height: 1.5rem;
    font-size: 1rem;
}

img {
  border: 0;
  width: 100%;
  height: 100%;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  color: $color-spacegrey;
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  img {
      outline: none !important;
  }
  &:hover {
      color: $color-spacegrey;
      text-decoration: none;
  }
  &:active {
      color: $color-spacegrey;
      text-decoration: none;
  }
}

h1 {
  font-size: 2.8em;
  font-family: $font-link;
}

h2 {
  font-size: 1.7rem;
  font-family: $font-ternary;
}

h3 {
  font-size: 1.4rem;
  font-family: sans-serif;
}

h4 {
    font-size: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}

fieldset,
label {
    margin: 0;
    padding: 0;
}

.oneDiv {
    font-family: $font-norm !important;
    margin: 2em;
}

::selection {
    background-color: rgba(255, 255, 0, 0.67);
}

.tab-pane,
.fade {
    display: none;
}

.s-alert-close {
    display: none;
}

.searchIcon {
  position: absolute;
  top: 1.1em;
  left: 6.5em;
}

.active,
.in {
    display: block !important;
}

.fsp-picker {
  z-index: 10000000000000;
}

.created {
  color: black !important;
  font-weight: 500;
}

.uploadimages {
  background-color: $color-spacered;
}

#target {
    width: 345px;
}

.contactdiv {
  margin: 4em;
  min-height: 15em;
}

.map {
  float: right !important;
  width: 50% !important;
}
